.body-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 15px;
}

.step-container {
  padding: 20px;
  margin-bottom: 50px;
}

.next-btn {
  float: right;
}

.step-component-container {
  margin: 20px;
  display: flex;
  min-height: calc(100vh - 330px);
}

.steps-action {
  overflow: hidden;
  margin-top: 30px
}

.hidden {
  width: 0;
  opacity: 0;
  transition: all .25s ease;
  height: 0 !important;
  overflow: hidden;
}

.reveal {
  opacity: 1;
  width: 100%;
  transition: all .25s ease;
}

.page-title {
  text-align: center;
  font-size: 36px;
  color: #464646;
  font-weight: 500;
  margin-bottom: 40px;
}
