.user-register-title {
  //margin-left: 33%;
  text-align: center;
  margin-top: 50px;
}

.user-register-form {
  margin-top: 50px;
  padding-bottom: 200px;;
}


.user-register-form-button {

}

.noti {

}
