.store-register-title {
  //margin-left: 33%;
  text-align: center;
  margin-top: 50px;
}

.form-container {
  max-width: 800px;
  .avatar-uploader > .ant-upload {
    margin-left: 33%;
  }
}
.store-register-form {
  margin-top: 50px;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.store-register-form-button {
  margin-top: 30px;
}

.noti {

}
